div[id^=block-quicktabs-] {
    z-index: 10;
}

.quicktabs_main.quicktabs-style-osulp {
    margin: -3px 0 0 0;
    background-color: #403152;
    border-top: none;
    clear: both;
    border-radius: 4px;
    float: right;
}

ul.quicktabs-tabs.quicktabs-style-osulp {
    font-size: small;
    padding: 0 0 0 0;
    height: 19px;
    margin: -28px 30px 0 0;
    float: right;
}

ul.quicktabs-tabs.quicktabs-style-osulp a {
    text-decoration: none;
    color: #ffffff;
    padding: 0;
}

ul.quicktabs-tabs.quicktabs-style-osulp li {
    border-radius: 4px 4px 0 0;
    border: 1px solid #403152;
    border-bottom: none;
    padding: 2px 10px;
    margin: 0 3px 0 0;
    position: relative;
    background-color: #666666;
    display: inline-block;
}

ul.quicktabs-tabs.quicktabs-style-osulp li:hover {
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #C34500;
    color: #FFFFFF;
}

ul.quicktabs-tabs.quicktabs-style-osulp li.active {
    background-color: #403152;
}

ul.quicktabs-tabs.quicktabs-style-osulp li.active a {
}

@media (max-width: 979px) {
    div[id^=block-quicktabs-] {
        float:right;
        margin-top: 20px;
        margin-right: 10px;
    }
    div#block-megamenu-menu-menu-osul {
        float: left;
        width: 100%;
    }

}