/* ---------- OSUL Search Styles ----------- */

[id^=block-osul-search-] div.content {
    margin: 0;
}

.osul-search-form .form-type-radios {
    margin-top: 0;
    float: left;
}

.osul-search-form div.form-item.form-type-radio {
    margin: 0;
}

.osul-search-form div.form-item.form-type-radios {
    margin-bottom: 0;
}

.osul-search-form div.form-item.form-type-select {
    display: inline;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.osul-search-form select.form-select {
    font-size: small;
    width: 165px;
}

.osul-search-form div.form-type-radio {
    display: inline-block;
    padding-right: 13px;

}

.osul-search-form input.form-radio {
    margin-top: 0;

}

div.form-type-textfield {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 5px;
    float: left;
}

#osul-search-library-form input[id^=edit-submit].form-submit,
#osul-search-reserves-form input[id^=edit-submit].form-submit {
    margin-top: 5px;
    margin-bottom: 1px;
    margin-right: 10px;
    width: 72px;
    background-image: none;
    height: 28px;
    line-height: 8px;
}

input[id^=query_temp].search.form-text {
    margin-bottom: 2px;
    width: 220px;
    height: 18px;
    font-size: small;
}

@media (max-width: 979px) {
    input[id^=query_temp].search.form-text {
        width: 508px;
    }
}

form.osul-search-form {
    width: 100%;
    height: 41px;
    background-color: #403152;
    padding: 3px 0 0 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 0;
}

.osul-search-form a {
    font-size: small;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
}

/*
label.option {
    font-size: small;
    vertical-align: middle;
    color: #FFFFFF;
}
*/

div.search-links {
    float: right;
    padding-top: 3px;
    margin-right: 8px;
}

.search-links a {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 16px;
}

.search-links a:hover {
    color: #ffffff;
    text-decoration: underline;
}

form#google-appliance-block-form {
    margin: 0;
}

#google-appliance-block-form {
    width: 380px;
}

#google-appliance-block-form div#edit-actions.form-actions.form-wrapper {
    padding: 0;
}

#google-appliance-block-form input.form-text {
    width: 305px;
    height: 18px;
    font-size: small;
    margin: 3px 3px 8px 8px;
}

#google-appliance-block-form input.form-submit {
    margin-top: 8px;
}
