/* citation style */
.citation {
  line-height: 2;
  padding-left: 25px !important;
  text-indent: -25px;
  font-family: "Courier New", Courier, mono !important;
  font-size: 13px;
  margin: 0px 0px 25px 50px;
  
}
