/* citation style */
p.citation {
  line-height: 2;
  padding-left: 25px !important;
  text-indent: -25px;
  font-family: "Courier New", Courier, mono !important;
  font-size: 14px;
  margin: 0px 0px 25px 50px;
  
}

td.citation {
  padding: 1em 2em 1.5em 5em;
  vertical-align: middle;
  line-height: 2;
  text-indent: -2.5em;
  font-family: "Courier New", Courier, mono !important;
  font-size: 14px;
  margin: 0px 0px 25px 50px;
}
