			/*
			hours manger form and  view CSS
			*/
			.required_marker{color:#8B0000;font-size:1.2em;}	
			label.error {color:red;display: none;}	
			

			form input#reset {
				margin-left:0px; /* set margin-left back to zero on reset button (set above) */
			}

			textarea { overflow: auto; }

			form small {
				display: block;
				margin: 0 0 5px 160px; /* instructions/comments left margin set to align w/ right column inputs */
				padding: 1px 3px;
				font-size: 88%;
			}
			
			.content fieldset{
				border: 1px solid #333;
				padding: 10px;
				margin: 20px 0;
			}

			.special { 
			/* Align the text to the right for spcial date labels */	
				text-align:left;		
			}	
			/* Remove ical icon and the title on the view page, because we are displaying this page as a view the title will show up two time unless we remove one */
			a .ical-icon{display:none;}
			h2 .title{display:none;}
			legend{font-weight:bold; font-size:14px;}